* {
  font-family: Georgia, serif;
}

body {
  background-color: rgb(255, 255, 255);
  border: 0;
  margin: 0;
  padding: 0;
}

/* HEADER */
.header {
  background: rgb(247, 244, 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  padding-inline: 64px;
}

nav {
  display: flex;
  font-size: 18px;
  gap: 32px;
}

.header-logo {
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.nav-links {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-links:hover {
    color: rgb(132, 220, 244);
    transition: all 0.3s ease;
}

/* HERO */
.hero {
  display: flex;
}

.hero img {
  max-width: 50vw;
}

.hero-title {
  flex: 1;
  background: rgba(25,57,56,1);
  background: linear-gradient(30deg, rgba(150,57,68,1) 0%, rgb(23, 53, 54) 52%);
  text-align: right;
  padding-top: 8%;
  padding-inline: 10%;
}

.hero-title * {
  font-family: 'Lucida Grande', sans-serif;
  color: rgb(247, 244, 244);
}

.hero-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.hero-buttons button {
  background-color: rgb(176, 105, 242);
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  padding-inline: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.hero h1 {
  font-size: 2.5rem;
}

.media-button {
  background-color: rgb(176, 105, 242);
  font-size: 32px;
  font-weight: bold;
  height: auto;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
}

.container {
    position: relative;
    width: 700px;
    margin: 32px;
  }
  
.slides {
    display: none;
}

.slides img {
  width: 100%;
}

.cursor {
    cursor: pointer;
}
  
.l,
.r {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
.r {
    right: 0;
}
  
.l:hover,
.r:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.row {
    display: flex;
    justify-content: center;
}
  
.column {
    width: 15%;
}
  
.demo {
    opacity: 0.5;
}
  
.active,
.demo:hover {
    opacity: 1;
}

#left_row {
    position: relative;
    display: flex;
    width: auto;
    height: 500px;
    margin: 48px;
}

#right_row {
    position: relative;
    display: flex;
    width: auto;
    height: 500px;
    margin: 48px;
    justify-content: right;
}

#i1 {
    position: relative;
    height: fit-content;
    width: fit-content;
    background-color: rgb(247, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
}

#i2 {
    position: relative;
    height: fit-content;
    width: fit-content;
    top: 110px;
    background-color: rgb(247, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    padding: 48px;
}