/* Image-Block class */
.img-block {
  display: flex;
}

.img-block img {
  max-width: 40vw;
}

.img-block-title {
  flex: 1;
  text-align: right;
  padding-top: 8%;
  padding-inline: 10%;
  color: rgb(247, 244, 244);
}

.img-block h1 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

/* Hero */
#hero div {
  background: rgb(23, 53, 54);
  background: linear-gradient(30deg, rgba(150,57,68,1) 0%, rgb(23, 53, 54) 42%);
}

/* Portraits */
#portraits {
  flex-direction: row-reverse;
  padding: 5% 0%;
  background: #000000;
  background: linear-gradient(90deg, rgb(0, 0, 0) 30%, #345788 100%);
}

#portraits img {
  max-width: 33vw;
}

#portraits div {
  text-align: left;
  padding-inline: 3%;
  justify-content: center;
}

/* Buttons */
.text-button {
  background-color: rgb(176, 105, 242);
  color: rgb(247, 244, 244);
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  padding-inline: 16px;
  border-radius: 8px;
  cursor: pointer;
  border-color: white;
  border-style: none;
}

.text-button:hover {
  background-color: rgba(150,57,68,1);
  transition: all 0.3s ease;
}

.slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0% 3%;
}

.slide-title {
  position: relative;
  text-align: center;
  width: 100%;
}

.slide-title button {
  position: absolute;
  right: 16px;
  top: 24px;
}

.slide-container {
  position: relative;
  background-color: rgb(221, 219, 219);
  max-width: 100%;
  overflow: hidden;
}

#slides {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  user-select: none;
}

.shoe {
  width: 20vw;
}

.l, .r {
  background: rgba(0, 0, 0, 0);
  border-radius: 0.5vw;
  border-style: none;
  color: rgb(255, 255, 255);
  font-size: 4vw;
  cursor: pointer;
  position: absolute;
  top: 43%;
  text-align: center;
  margin-inline: 1vw;
}

.r {
  right: 0;
}

.l:hover, .r:hover {
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .hidden-panel {
    transform: translateX(-100%);
    transition: all 1s ease 0.7s;
    opacity: 0;
    filter: blur(5px);
  }

  .show {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
}